.callout {
    background-color: #0c0c0c;
    border-radius: 10px;
    padding: 2em;
    margin-top: 1em !important;
}

.callout.error {
    background-color: var(--errorMessageBackground);
    color: var(--error-text-color) !important;
    border: 2px solid var(--error-text-color);

    p {
        color: var(--error-text-color) !important;
    }
}

.callout.warning {
    background-color: var(--warningMessageBackground);
    color: var(--warning-text-color) !important;
    border: 2px solid var(--warning-text-color);

    p {
        color: var(--warning-text-color) !important;
    }
}
