.sc-fYsHOw span code,
.dsgvZK span code,
.sc-fYsHOw span code,
.dsgvZK span code {
    width: 100% !important;
}

.dsgvZK {
    padding: 0 !important;
}

.kHbCbw,
.dvhbqa {
    right: 1em !important;
    top: 0.75em !important;
}
